/* Resets
--------------------------------------------------------------------------------*/

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, 
fieldset, input {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

a {
	text-decoration: none;
}

ul {
    list-style-position: inside;
}

/* General Styling and Structure
--------------------------------------------------------------------------------*/
html { height:100%; }
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	background: #ffffff;
	font-weight:300;
	height:100%;
	-webkit-font-smoothing: antialiased;

	width: 1024px;
	margin: 0 auto;
	position: relative;
}

a {
	color: #999;
}

#singleColumn {
	
	display: inline-block;
	width: 318px;
	height: auto;


}

#singleColumn > div {
	width: 318px;
	height: auto;
    margin: 0 0 23px 0;
}

#doubleColumn {
	
	display: inline-block;
	left: 341px;
	width: 659px;
	height: auto;


}

#doubleColumn > div {
	width: 659px;
	height: auto;
	margin: 0 0 23px 0;
}



/* Header
--------------------------------------------------------------------------------*/
.headerContent {
	height: 70px;
}

#title {
	position: relative;
	top: 25px;
	/* left: 15px; */

	display: block;
	float: left;

	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;
	color: #84A0AE;

}

.nav {
	float: right;
	display: block;
	height: 40px;

	margin-top: 15px;
}

.nav ul {
	float: right;
}

.nav ul li {
	list-style: none;
	float: left;
}

.nav ul li a {
	display: inline-block;
	height: 20px;
	padding: 10px 15px 10px 15px;
	color: #84A0AE;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}


.nav ul li a:hover {
	color: white;
	background-color: #84A0AE;

}

.nal ul li a:active {
    color: white;
	background-color: #84A0AE;
}


.horiz-rule {
	width: 1024px;
	margin: 0 auto;
	height: 0;
	border-bottom: 1px dashed #84A0AE;

}



#nav-align {
	position: relative;
	top: -29px;
}

/* Main text styling
--------------------------------------------------------------------------------*/

h3 {
    font-weight: 500;
}

.vert-rule {
	width: 0;
	height: 100%;
	position: absolute;
	z-index: 100;
	border-right: 1px dashed #84A0AE;

}

#pageContent {
	position: relative;
    
}

.crop-image {
	height: 200px;
	width: 200px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.resize200 {
	width: 200px;
	height: auto;
}

#aboutBox {
    padding: 23px 0;
    background-color: #dcdfe0;
}
#aboutBox div {
	text-align: center;
	margin: auto;
}

#aboutBox p {
	margin-top: 14px;
}

#aboutBox .button {
	display: inline-block;
	margin-top: 14px;
	margin-right: 5px;
}

.button {
	display: block;
	height: 20px;
	width: 80px;
	padding: 10px 15px 10px 15px;
	background-color: #84a0ae;
	
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: white;
}




.inline {
    display: inline-block;
    padding-right: 15px;
}

.left {
    float: left;
    padding: 23px 23px 23px 0;
}

.right {
    float: right;
    padding: 23px 0 23px 23px;
}

.x341px {
    left: 341px;
}

.x683px {
    left: 683px;
}

.resizeFit {
    width:inherit;
    height: auto;
}
